<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./data.js"></script>
    <title>Document</title>
</head>
<style>
    .box{
        border:2px solid black;
        width: 300px;
        height: 300px;
        overflow: hidden;
        padding: 100px
    }

    .imgContainer{
        display: flex;
        justify-content: center;
    }

    .imgContainer img{
        width: 50%;
        height: 50%;
    }

    .container{
        display: flex;
        flex-direction: row;
    }

</style>
<body>
    <!-- 어제꺼(5.28)에 추가하기 복붙
    1.구조파악하기
    2.규칙파악하기
    3.오늘배운거 응용
    4.등록하기 선택 1)인물등록 2)스킬등록
    5. 1)인물등록 -> 이름, 정보, 이미지
    6.버튼_[등록하기] 
    7. 1)스킬등록 -> 스킬, 리스트, 정보, 이미지-이미지추가
    8.버튼_[등록하기] 
    9. 이미지 삽입하기 -->
    
    <div class="box">
        <header>
            <h2>Vue v-model 이해하기</h2>
        </header>
        <div id="app1">
            <div>
                <button @click="handlerState">{{state?"등록하기":"조회하기"}}</button>
            </div>
            
            <div class="inputContainer">
                <select v-model="type" @change="check">
                    <option value="인물등록">인물등록</option>
                    <option value="스킬등록">스킬등록</option>
                </select>

                <div v-if="type == '인물등록'" class="inputBox">
                    
                    <label>이름 : </label><input v-model="characterInfo.name"/>
                    <br>
                    <label>정보 : </label><input v-model="characterInfo.introduce"/>
                    <br>
                    <label>사진 : </label>
                    <div class="imgContainer">
                        <img :src="img" alt="image">
                        <input type="file" @change="onFileChange" v-model="characterInfo.img"/>
                    </div>
                </div>

                <div v-if="type == '스킬등록'" class="inputBox">
                    
                    <label>스킬 : </label><input v-model="skillInfo.skill"/>
                    <br>
                    <label>리스트 : </label><input v-model="skillInfo.list" placeholder="기술 list는 ','로 구분해주세요"/>
                    <br>
                    <label>인포 : </label><input v-model="skillInfo.info"/>
                    <br>
                    <label>이미지 : </label>
                    <div v-for="index in imgCnt" :key="index">
                        <input v-model="skillInfo.imgs[index]" placeholder="이미지 URL 입력"/>
                    </div>
                    <button @click="imgCnt++">이미지 추가</button>
                </div>
                <button @click="pushHandler">등록하기</button>
            </div>
        </div>
    </div>
          

    <!-- 어제꺼 복붙 -->
    <div id="app2">
        <button @click="toggleMode">{{isCharacterMode ? 'skill mode' :'charater mode'}}</button>
        <div class="row">
            <template v-if="isCharacterMode">
                <div v-for="item in jsonData" :key="item.id">
                    <div class="bordered">
                        <p>이름 : {{ item.name }}</p>
                        <p>소개 : {{ item.introduction }}</p>
                        <img :src="item.img" :alt="item.name">
                    </div>
                </div>
            </template>

            <template v-else>
                <div v-for="item in jsonSkill" :key="item.id">
                    <div class="bordered">
                        <p>이름 : {{ item.skill }}</p>
                        <p>소개 : {{ item.introduction }}</p>
                        <div class="skill-image">
                            <div v-for="img in item.imgs" :key="img">
                                <img :src="img" :alt="item.skill">
                            </div>
                        </div>
                    </div>
                </div>
            </template>
        </div>
    </div>

    
    <script>
        const { createApp, ref } = Vue;

        // createApp({
        //     setup() {
        //         const jsonData = ref(scholar);
        //         const jsonSkill = ref(msaSkill);
        //         const isCharacterMode = ref(true);

        //         const toggleMode = () => {
        //             isCharacterMode.value = !isCharacterMode.value;
        //         };

        //         return {
        //             jsonData,
        //             jsonSkill,
        //             isCharacterMode,
        //             toggleMode
        //         };
        //     }
        // }).mount("#app");



        //  createApp({
        //     setup(){
        //         const selected = ref("인물등록");
        //         const check = ()=>{
        //             console.log(selected.value);
        //         }
        //         return{
        //             selected,
        //             check
        //         }
        //     }
        //  }).mount("#등록선택");

        createApp({
            setup(){
                const jsonData = scholar;
                const type = ref("인물등록");                
                const name = ref("");
                const introduce = ref("");
                const img = ref("");
                const skill = ref("");
                const list = ref("");
                const info = ref("");
                const imgs = ref("");
                const skillInfo = reactive({
                        id: 0,
                        skill: "",
                        list: "",
                        introduction: "",
                        imgs: []
                    });
                
                const characterInfo = reactive({
                        id: 0,
                        name: "",
                        introduction: "",
                        img: ""
                    });
                const imgCnt = ref(1);

                const fileInput = document.getElementById("file") 
                function onFileChange(event){
                    const file = event.target.files[0];
                    const url = URL.createObjectURL(file)
                    console.log(url);
                    const image = new Image()
                    image.src = url;
                    image.onload = function(){                        
                        fileInput.value = null;
                    }
                }

                

            

                return {
                    jsonData,
                    type,                
                    name,
                    introduce,
                    img,
                    skill,
                    list,
                    info,
                    imgs,
                    
                    
                    pushHandler
                };
            }
        }).mount("#app1");

        fileInput.addEventListener("change", onFileChange)




       
        // 어제꺼 복붙
        createApp({
            setup() {
                const jsonData = ref(scholar);
                const jsonSkill = ref(msaSkill);
                const isCharacterMode = ref(true);

                const toggleMode = () => {
                    isCharacterMode.value = !isCharacterMode.value;
                };

                return {
                    jsonData,
                    jsonSkill,
                    isCharacterMode,
                    toggleMode
                };
            }
        }).mount("#app2");

    </script>
    

</body>
</html>